.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}

.header {
    grid-area: h;
    background-color: #4f99f6;

}

/*.nav {*/
/*    grid-area: n;*/
/*    background-color: #b26f4a;*/
/*}*/

.bgContent {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar {
    max-height: 120px;
}